h2.intro {
  font-style: bold italic;
  color: #808080;
  font-family: fantasy;
  font-size: 30px;

}

.intro {
  font-weight: bolder;
  width: 50%;
  color:#595959;
}

.info {
  font-style: bold;
  font-size: 20px;
}

p {
  font-style: normal;
  font-family: sans-serif;
  color:#595959;
}

.important {
  color: #e60000;
  font-size: 30px;
  font-style: bold;
}

h1 {
  font-style: bold italic;
  color: #808080;
  font-family: fantasy;
  font-size: 50px;
