h2.intro {
  font-style: bold italic;
  color: #808080;
  font-family: fantasy;
  font-size: 30px;

}

img.intro {
  width: 50%;
  align-items: center;
}

p {
  font-style: normal;
  font-family: sans-serif;
  width: 50%;
  color:#595959;
}
p.intro {
  font-style: normal;
  font-family: sans-serif;
  width: 50%;
  color:#595959;
}

h1 {
  font-style: bold italic;
  color: #808080;
  font-family: fantasy;
  font-size: 50px;
